<div class='row header'>
	<div class='col-sm-12'>
		<h4 class='pull-left'>
			<span>UI Configuration</span>
		</h4>
		<div class='pull-right'>
			<ul class='breadcrumb'>
				<li><a href='index.html'>UI</i>
				</a></li>
				<li class='separator'>//</li>
				<li class='active'>UI Page Definitions</li>
			</ul>
		</div>
	</div>
</div>

<div class='box' style='margin-bottom: 1;'>
	<div class='box-header blue-background'>
		<div class='title'>UI Page Config</div>
	</div>
    <div class="panel">
        <div class="panel-body">
            <a class="btn btn-default" href="#/uipagedefinition/detail/-1" role="button">Build</a>
        </div>
    </div>
    <div class='row container'>
        <masterdetail source="masterDetailObj"> </masterdetail>
    </div>
</div>